//Barre de cookies
.cc-grower {
    z-index: 11;
    position: relative;
}

// Page de politique des cookies

#cmplz-document {
    max-width: none;

    .cmplz-service-header {
        h3{
            color: $noir;
        }
    }
    .cookies-per-purpose {
        color: $noir;
    }
}