.site-header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  transition: $transition;
  z-index: 10;

  img {
    max-width: 75px;
    padding: 15px 0;
  }

  &.bg {
    background-color: $violet;
    box-shadow: 0 0 5px 0 $noir;
  }
}

//Barre de cookies
.cc-grower {
  z-index: 11;
  position: relative;
}

// Menus
.main-navigation {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: $transition;

  .toggle-formation,
  .toggle-site {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100px;
    cursor: pointer;
  }

  .fa-bars,
  .fa-user-circle {
    align-self: flex-start;
    margin-top: 30px;
  }

  .fa-times {
    position: absolute;
    top: 30px;
    transition: $transition;
    transform: translateX(-50%);
    cursor: pointer;
  }

  &#site-navigation {
    left: 0;

    .toggle-site {
      left: 0;
    }

    .fa-times {
      left: -10vw;
    }

    &:hover {
      background-color: white;
      color: $noir;
    }
  }

  &#formation-navigation {
    right: 0;

    .toggle-formation {
      right: 0;
    }

    .fa-times {
      right: -10vw;
      transform: translateX(0);
    }

    &:hover {
      background-color: $noir;
    }
  }

  a {
    color: inherit;
  }

  .menu-container {
    width: 50vw;
    position: fixed;
    height: 100%;
    z-index: -1;
    transition: $transition;
    display: flex;
    justify-content: center;
    align-items: center;

    &.menu-menu-formation-container {
      background-color: $noir;
      border-left: 1px solid $noir;
      padding-right: 100px;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 50vh solid $noir;
        border-left: 10vw solid transparent;
        position: absolute;
        bottom: 0;
        left: -10vw;
      }

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 50vh solid $noir;
        border-left: 10vw solid transparent;
        position: absolute;
        top: 0;
        left: -10vw;
      }

      ul {
        display: flex;

        li {
          float: none;

          .um-login {
            width: 35vw !important;
          }

          form {
            #um_field_14_um_block_14_4 {
              p {
                font-family: $typoTitre;
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 900;
                color: white;
              }
            }

            #username-14,
            #user_password-14 {
              background-color: rgba(255, 255, 255, 0.1);
              border-radius: 10px;
              margin-bottom: 35px !important;
              padding: 25px !important;
              border: none !important;
            }

            #um-submit-btn {
              background-color: $violet !important;
            }
          }
        }
      }
    }

    &.menu-menu-principal-container {
      background-color: white;
      border-right: 1px solid white;
      padding-left: 100px;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 50vh solid white;
        border-right: 10vw solid transparent;
        position: absolute;
        bottom: 0;
        right: -10vw;
      }

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 50vh solid white;
        border-right: 10vw solid transparent;
        position: absolute;
        top: 0;
        right: -10vw;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        width: 50%;
        padding: 20px 0;
        font-size: 1.25rem;
        font-family: $typoTitre;
        font-weight: 900;

        &#menu-item-170 {
          width: 100%;
        }

        a {
          display: flex;
          align-items: center;
          flex-direction: column;

          i {
            color: $violet;
          }
        }
      }
    }
  }

  // Apparition du menu formation
  &.formation-close {
    .menu-container {
      &.menu-menu-formation-container {
        right: -60vw;
      }
    }
  }

  &.formation-open {
    .menu-container {
      &.menu-menu-formation-container {
        right: 0;
      }
    }

    &#formation-navigation .fa-times {
      right: 50vw;
    }
  }

  // Apparition du menu formation
  &.site-close {
    .menu-container {
      &.menu-menu-principal-container {
        left: -60vw;
      }
    }
  }

  &.site-open {
    color: $noir;

    .menu-container {
      &.menu-menu-principal-container {
        left: 0;
      }
    }

    &#site-navigation .fa-times {
      left: 50vw;
    }
  }
}