.page {
  .bandeau {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
  }

  a {
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}