.um-page-user {

    h1 {
        display: none;
    }

    .um-profile.um {
        .um-name a {
            color: white;
        }
    }

    .um-profile-note {
        color: white;

        span {
            color: white;
        }
    }
}