.um-page-user {
	h1 {
		display: none;
	}

	.um-profile.um {
		background-color: rgba(137, 102, 221, 0.8);
		padding: 30px;
		max-width: none;

		.um-name a {
			color: white;
		}
	}

	.um-profile-note {
		color: white;

		span {
			color: white;
		}
	}
}

.um .um-field-group-head,
.picker__box,
.picker__nav--prev:hover,
.picker__nav--next:hover,
.um .um-members-pagi span.current,
.um .um-members-pagi span.current:hover,
.um .um-profile-nav-item.active a,
.um .um-profile-nav-item.active a:hover,
.upload,
.um-modal-header,
.um-modal-btn,
.um-modal-btn.disabled,
.um-modal-btn.disabled:hover,
div.uimob800 .um-account-side li a.current,
div.uimob800 .um-account-side li a.current:hover {
	background: #8966dd !important;
}
